  <div class="agenda__large">
    <table>
      <thead>
        <tr>
          <td>&nbsp;</td>
          <% data.calendar.rooms.each do |label, name| %>
            <td><%= name %></td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% data.calendar.times.each_with_index do |time, index| %>
          <tr>
            <th class="agenda__slot">
              <%= time.start%> - <%= time.end %>
            </th>

            <% data.calendar.tracks.each do |room, track| %>
              <td class="agenda__track">
                <% session = track[index] %>
                <% speaker = data.speakers[session.speaker] %>
                <% speaker_key = "#{session.speaker}-#{index}-#{room}" %>
                <% session_key = "#{room}-#{index}" %>
                <% tldr, rest = (session.abstract || '').split('$MORE$') %>
                <div class="session">
                  <% unless session.type == 'span' %>
                    <% if speaker %>
                      <div class="hcard hcard-top">
                        <img class="hcard__img" src="<%=image_path(speaker.image)%>">
                        <div class="hcard__body">
                          <div class="hcard__title">
                            <a data-toggle="<%= "#{speaker_key}-bio" %>">
                              <%= speaker.name %>
                            </a>
                            <div class="hcard__bio" id="<%= "#{speaker_key}-bio" %>" data-toggler=".hcard__bio-show">
                              <%= markdown speaker.bio %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                    <div class="session__title">
                      <%= session.title || "NA" %>
                    </div>
                    <div class="session__abstract">
                      <% if tldr %>
                        <div class="abstract__body-full" id="<%= "#{session_key}-abstract-full-mob" %>" data-toggler=".abstract__body-toggled">
                            <%= markdown [tldr, rest].join("\n") %>
                            <div class="abstract__toggler">
                              <a data-toggle="<%= "#{session_key}-abstract-full-mob" %> <%= "#{session_key}-abstract-tldr-mob" %>"><i class="fa fa-icon fa-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="abstract__body-tldr" id="<%= "#{session_key}-abstract-tldr-mob" %>" data-toggler=".abstract__body-toggled">
                          <%= markdown tldr %>
                          <% if rest %>
                            <div class="abstract__toggler">
                              <a data-toggle="<%= "#{session_key}-abstract-full-mob" %> <%= "#{session_key}-abstract-tldr-mob" %>"><i class="fa fa-icon fa-chevron-down"></i></a>
                            </div>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                    <% end %>
                  </div>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>



  <%= partial "partials/_agenda_mobile" %>
