
  <div class="agenda__small">
    <ul class="tabs" id="agenda__tabs" data-tabs>
      <% data.calendar.rooms.each_with_index do |(label, name), tli| %>
        <li class="tabs-title <%= tli==0 && 'is-active'%>"><a href="#<%=label %>"><%= name %></a></li>
      <% end %>
    </ul>

    <div class="tabs-content" data-tabs-content="agenda__tabs">
    <% data.calendar.rooms.each_with_index do |(label, name), tci| %>
      <div class="tabs-panel <%= tci==0 && 'is-active'%>" id="<%=label%>">
        <table>
          <tbody>
            <% data.calendar.times.each_with_index do |time, index| %>
              <tr>
                <th class="agenda__slot">
                  <%= time.start%> - <%= time.end %>
                </th>

                <% session = data.calendar.tracks[label][index] %>
                <% speaker = data.speakers[session.speaker] %>
                <% speaker_key = "#{session.speaker}-#{index}-#{label}" %>
                <% session_key = "#{label}-#{index}" %>
                <% tldr, rest = (session.abstract || '').split('$MORE$') %>
                <td>
                  <% if speaker %>
                    <div class="hcard hcard-top">
                      <img class="hcard__img" src="<%=image_path(speaker.image)%>">
                      <div class="hcard__body">

                        <div class="hcard__title">
                          <a data-toggle="<%= "#{speaker_key}-bio-mob" %>">
                            <%= speaker.name %>
                          </a>

                          <div class="hcard__bio" id="<%= "#{speaker_key}-bio-mob" %>" data-toggler=".hcard__bio-show">
                            <%= markdown speaker.bio %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <div class="session__title">
                    <%= session.title || "NA" %>
                  </div>

                  <div class="session__abstract">
                    <% if tldr %>
                      <div class="abstract__body-full" id="<%= "#{session_key}-abstract-full" %>" data-toggler=".abstract__body-toggled">
                          <%= markdown [tldr, rest].join("\n") %>
                          <div class="abstract__toggler">
                            <a data-toggle="<%= "#{session_key}-abstract-full" %> <%= "#{session_key}-abstract-tldr" %>"><i class="fa fa-icon fa-chevron-up"></i></a>
                          </div>
                      </div>
                      <div class="abstract__body-tldr" id="<%= "#{session_key}-abstract-tldr" %>" data-toggler=".abstract__body-toggled">
                        <%= markdown tldr %>
                        <% if rest %>
                          <div class="abstract__toggler">
                            <a data-toggle="<%= "#{session_key}-abstract-full" %> <%= "#{session_key}-abstract-tldr" %>"><i class="fa fa-icon fa-chevron-down"></i></a>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    </div>
  </div>

