<% data.lightning_talks.each_with_index do |talk, index| %>
    <% speaker = data.speakers[talk.speaker] %>
    <% speaker_key = "lighning-#{index}" %>

    <div class="speaker">
        <img class="speaker__head" src="<%=image_path(speaker.image)%>"><br>
        <a data-toggle="<%= "#{speaker_key}-bio" %>">
            <%= speaker.name %>
        </a>
    </div>
    <div class="speaker__bio" id="<%= "#{speaker_key}-bio" %>" data-toggler=".speaker__bio-show">
        <%= markdown speaker.bio %>
    </div>

    <div class="session__title">
        <%= markdown talk.title %>
    </div>
    <div class="session__abstract">
        <%= markdown talk.abstract %>
    </div>
<% end %>
